@import url('https://fonts.cdnfonts.com/css/parry-hotter');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    padding: 20px;
    background-color: #000;
}

.title{
    font-family: 'Parry Hotter', sans-serif;
}

.background{
    background: rgba(249, 249, 249, 0.653);
}

input::placeholder{
    color: #000;
}
