@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 20px;
    background-color: #f4f4f4f4;
}
.b{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.s{
    box-shadow: rgba(240, 46, 72, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 78, 0.2) 15px 15px, rgba(240, 46, 85, 0.1) 20px 20px, rgba(240, 46, 46, 0.05) 25px 25px;
}